<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/main1.css">
	<link rel="stylesheet" href="../static/anim1.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>HolToon</title>
</head>
<body>
	<section class="full">
		<header>
			<div class="nav">
				<ul class="menu">
					<li>
						<a href="main.html">
							Главная
						</a>
					</li>
					<li>
						<ul class="cotol">
							<li>
								<a href="#" class="menu_link">
									Апартаменты <img id="vec" src="../static/images/vector.png">
								</a>
								<ul class="sub-cotol">
									<li>
										<div class="hsub"></div>
										<a href="form1.html">Юбилейка</a>
									</li>
									<li>
										<div class="hsub"></div>
										<a href="form2.html">Балтийская</a>
									</li>
									<li id="imposter">
										<div class="hsub"></div>
										<a href="form3.html">Высотка</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="tel:+79512943458" id="tel">
							+7 951 294 34-58
						</a>
					</li>
				</ul>
			</div>
		</header>

		<div class="wrapper">
			<div class="wave-btn">
				<span class="wave-btn__waves"></span>
			</div>
			<div id="subscript">
				<h1>Квартиры во Пскове.</h1>
				<p>Забронируйте квартиру во Пскове.<br>
				Лучшие предложения по самым низким ценам.</p>
			</div>
		</div>

		<!-- <script src="../static/scripts/three.min.js"></script>
		<script src="../static/scripts/vanta.waves.min.js"></script>
		<script src="../static/scripts/app.js"></script> -->


		<section id="product">

			<div id="product__1">
				<div id="fon__1">
					<!-- <div class="border__1 fon__rev"></div> -->
					<div class="descript__1">
						<h1>Юбилейка</h1>
						<p>Апартаменты  «На Юбилейной» с балконом и бесплатным Wi-Fi расположены в Пскове.</p>
						<a href="#">
							<div class="btn">Подробнее
								<p>От 1000 ₽/день</p>
							</div>
						</a>
						<div class="descript__images">
							<a href="#">
								<img src="../static/images/12.jpg" alt="Фотографии о данном разделе">
							</a>
							<ul class="descript__images__list">
								<a href="#">
									<img src="../static/images/12.jpg" alt="Фотографии о данном разделе">
								</a>
								<a href="#">
									<img src="../static/images/12.jpg" alt="Фотографии о данном разделе">
								</a>
								<a href="#" class="other__img">
									<span>
										+4
									</span>
								</a>
							</ul>
						</div>
					</div>
					<div class="border__2"></div>
				</div>
			</div>
			
			<div id="product__2">
				<div id="fon__2">
					<div class="border__1"></div>
					<div class="descript__2">

						<h1>Балтийская</h1>
						<p>
							Апартаменты «На Балтийской»<br>
							расположены в Пскове. К услугам<br>
							гостей балкон и бесплатный<br>
							Wi-Fi.
						</p>

						<a href="#">
							<div class="btn btn_1">Подробнее
								<p>От 1000 ₽/день</p>
							</div>
						</a>

						<div class="descript__images__2">
							<a href="#">
								<img src="../static/images/hf.jpg" alt="Фотографии о данном разделе">
							</a>
							<ul class="descript__images__list__2">
								<a href="#">
									<img src="../static/images/hf.jpg" alt="Фотографии о данном разделе" width="122" height="81">
								</a>
								<a href="#">
									<img src="../static/images/hf.jpg" alt="Фотографии о данном разделе" width="122" height="81">
								</a>
								<a href="#">
									<span class="other__img">
										+5
									</span>
								</a>
							</ul>
						</div>

					</div>
					<div class="border__3"></div>
				</div>
			</div>

			<div id="product__3">
				<div id="fon__3">
					<div class="border__4"></div>
					<div class="descript__1 descript__3">
						<h1>Высотка</h1>
						<p>Апартаменты  «Высотка»<br>
						с 4 спальными местами и бесплатным Wi-Fi расположены в Пскове.</p>
						<a href="#">
							<div class="btn">Подробнее
								<p>От 1000 ₽/день</p>
							</div>
						</a>
					</div>
					<div class="descript__images__3">
						<a href="#">
							<img src="../static/images/hg2.jpg" alt="Фотографии о данном разделе">
						</a>
						<ul class="descript__images__list__3">
							<a href="#">
								<img src="../static/images/hg2.jpg" alt="Фотографии о данном разделе" width="122" height="81">
							</a>
							<a href="#">
								<img src="../static/images/hg2.jpg" alt="Фотографии о данном разделе" width="122" height="81">
							</a>
							<a href="#">
								<span class="other__img">
									+4
								</span>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>
</html>